<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16593358348-v9kitk5ia2rb7q67h5bskhj40ko4ptv0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16593358348-v9kitk5ia2rb7q67h5bskhj40ko4ptv0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>16593358348-jvijm3d6kfhnp2ofc180kclihdfbeh7b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyArPgfN0iIdAstVFKC2CvJw8KpnLzVHgWE</string>
	<key>GCM_SENDER_ID</key>
	<string>16593358348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finishedEshop</string>
	<key>PROJECT_ID</key>
	<string>eshopapp-c4c50</string>
	<key>STORAGE_BUCKET</key>
	<string>eshopapp-c4c50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16593358348:ios:5f1a8d6831d8dd92ba2829</string>
	<key>DATABASE_URL</key>
	<string>https://eshopapp-c4c50.firebaseio.com</string>
</dict>
</plist>